<div class="smell" data-lat="<%= smell.lat %>" data-lng="<%= smell.lng %>" data-smell-id="<%= smell.id %>">
    <div class="panel panel-default">
        <div class="panel-heading"><a href="https://twitter.com/<%= smell.user.twitter_handle %>"><%= "@" + smell.user.twitter_handle %></a><%= " reported a smell " + smell.time_ago %></div>
        <div class="panel-body">
            <%= smell.content %>
        </div>
    </div>
</div>
