<!DOCTYPE html>
<html>
<head>
  <title>It Smells Here</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
